@import "tailwindcss";

:root {
  --color-anthracite: #464746;
  --color-anthracite-light: #5a5b5a;
  --color-yellow: #e9cc1b;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  color: var(--color-anthracite);
}
